.graphContainer {
  background-color: #ffffff;
}
.doughnut {
  width: 40%;
  margin: 3rem auto;
  /* border: 1px solid black; */
}

.coronaImageContainer {
  transform: translate(16.5%, -76.5%);
  /* border:1px solid rgb(157, 255, 0); */
  width: 75%;
}
.coronaImage {
  width: 100%;
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
