.site-card-border-less-wrapper {
  padding: 30px;
}

#covidCard {
  width: 240px;
}

.cardContent {
  text-align: left;
}

.infected {
  background-color: #add8e6;
  border-bottom: 10px solid #67bffd;
}

.recovered {
  background-color: #ace1af;
  border-bottom: 10px solid #3cb371;
}

.deaths {
  background-color: #fa8072;
  border-bottom: 10px solid #f7604f;
}

.active {
  background-color: #d0b086;
  border-bottom: 10px solid #c99653;
}

.date {
  font-size: 0.9rem;
}

.lastUpdated {
  font-size: 1.25rem;
}

.covidStatusCount {
  text-align: center;
}
